<div id="nosotros" class="text-white">
    <img id="foto" src="../../../assets/Images/foto03.jpg" alt="fotoPersonal">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione natus
        optio quod eaque voluptatibus nisi? Aperiam
        molestiae distinctio voluptatem beatae magnam ipsum ab veniam,
        doloremque dolor labore voluptates, itaque
        consequuntur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, numquam
        dolore et, sit quae hic repudiandae incidunt
        perspiciatis eligendi similique iure, atque in. Nihil laudantium
        similique animi cum amet repellendus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem iure
        quod magnam minima ab, quam, alias hic placeat
        praesentium modi libero totam. Asperiores nemo maiores aperiam. Corporis
        fugit sed vel.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis qui
        ullam laudantium repellendus molestias assumenda ipsam possimus eum sit!
        Accusamus esse dolor, voluptate suscipit exercitationem ipsam dicta
        pariatur culpa assumenda?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
        repellat? Distinctio inventore suscipit laboriosam minus magnam animi.
        Voluptates quasi, explicabo consectetur ab eaque placeat obcaecati
        voluptate beatae numquam minima earum?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
        voluptatum deserunt error tenetur quae odio, inventore nesciunt, eos
        nisi ipsam nobis explicabo? Laborum, voluptas. Dolores ipsa autem
        adipisci non fugiat.
    </p>
</div>
