<nav class="d-flex menu bg-white text-black">
    <ul class="px-3 w-100">
        <li class="float-start">
            <a class="nav-link" routerLinkActive="seleccionado"
                routerLink="/front/sobreNosotros"
                target="_self"><span>Nosotros</span></a>
        </li>
        <li class="float-start">
            <a class="nav-link" routerLinkActive="seleccionado"
                routerLink="/front/listado" target="_self"><span>Menú</span></a>
        </li>
        <li class="float-end">
            <a class="nav-link" href="#" target="_self"><span>Cocina</span></a>
        </li>
    </ul>
</nav>
<!--
    <li class="nav-item" routerLinkActive="seleccionado">
        <a routerLink="/front/sobreNosotros" target="_self"><span>Sobre
                Nosotros</span></a>
    </li>
    <li class="nav-item" routerLinkActive="seleccionado">
        <a routerLink="/front/listado" target="_self"><span>Blog</span></a>
    </li>
    <li class="nav-item"><a routerLink="/administracion" target="_self"><span>Administración</span></a></li> desaparece por estar en otro módulo
    <li class="float-end nav-item" routerLinkActive="seleccionado">
        <a *ngIf="token <= 0" routerLink="/login"
            target="_self"><span>Acceder</span></a>
    </li>
-->
