div.container {
    background-color: olive;
}

.vacio h3 {
    font-family: Halloween,
        'Times New Roman',
        Times,
        serif;
    font-size: 8vh;
}

.novacio {
    font-family: 'Times New Roman',
        Times,
        serif;
    font-size: 3vh;
}
